<div class="grid_16">
	<h1>Welcome!</h1>

	<p>Twitter / ICanHazCheeseBurger API mashup, henceforth creating the all powerful ICanHazTweetBurgerz</p>

	<p>
		TEH FLUFFY ANIMAL SEZ: WE WANTD AN EASY / FUN START, SO MASHIN UP COUPLE APIS AN AN THROWIN DOWN RAILS SIET SEEMD LIEK TEH RITE FURST PROJECT. LERN HEROKU / APP DEPLOYMENT, LERN RUBY ON RAILS, LERN TEH TWITTR API, LERN TEH CHEEZBURGER API, LERN API MASHUPS.
	</p>

	<p>
		See our <a href="http://github.com/52projects/week1-i-can-has-tweetburger" target="_blank">GitHub account</a>.
	</p>

	<% form_tag(login_path) do %>
		<%= image_submit_tag 'sign-in-with-twitter.png' %>
	<% end %>
</div>