<%= form_tag tweet_path do %>
	<fieldset id="" class="">
		<legend>Convert to lolspeak</legend>
		<div><%= label_tag 'tweet' %></div>
		<div><%= text_area_tag 'tweet' %></div>
		<div><%= submit_tag %></div>
	</fieldset>
<% end %>